version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: acme
      POSTGRES_USER: acme_user
      POSTGRES_PASSWORD: acme_pwd
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U acme_user -d acme"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "python manage.py migrate &&
             gunicorn acme_product_importer.wsgi:application --bind 0.0.0.0:8000 --log-file -"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://acme_user:acme_pwd@db:5432/acme
      REDIS_URL: redis://redis:6379/0
      DJANGO_SECRET_KEY: django-insecure-hw2%7v$plogbs3(tet@=m0n3_&eg448zre0nw23+$$xg!vv$q_
      DEBUG: "True"
      ALLOWED_HOSTS: "*"

  worker1:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      celery -A acme_product_importer worker --loglevel=info --concurrency=4 --hostname=worker1@%h --autoscale=4,2
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://acme_user:acme_pwd@db:5432/acme
      REDIS_URL: redis://redis:6379/0
      DJANGO_SECRET_KEY: django-insecure-hw2%7v$plogbs3(tet@=m0n3_&eg448zre0nw23+$$xg!vv$q_
      DEBUG: "True"
      ALLOWED_HOSTS: "*"

  worker2:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      celery -A acme_product_importer worker --loglevel=info --concurrency=4 --hostname=worker2@%h --autoscale=4,2
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://acme_user:acme_pwd@db:5432/acme
      REDIS_URL: redis://redis:6379/0
      DJANGO_SECRET_KEY: django-insecure-hw2%7v$plogbs3(tet@=m0n3_&eg448zre0nw23+$$xg!vv$q_
      DEBUG: "True"
      ALLOWED_HOSTS: "*"

volumes:
  postgres_data:
